body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}
span{
  cursor: pointer;
}
i{
  color: red;
  float: right;
}


ul{
  color: #09d3ac !important;
  list-style: inherit !important;
}
a{
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.card{

  width: 100%;

}

.btn-warning{
  width: 100%;
  margin-bottom: 10px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
